server:
  port: 8088
zuul:
  routes:
    uap:
      path: /uap/**
      url: http://127.0.0.1:8081
      strip-prefix: true
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka